
body {
    font-family: 'Bricolage Grotesque';
   background: linear-gradient(#F7F5F5, #89C5FF);
    background-repeat: no-repeat;
    background-attachment: absolute;
}

#contenedor {
    position: relative;
}

.navbar {
    font-size: 12px;
   
   }

#barra {
    height: 50%;
}

   
:root {
    --bs-danger-border-subtle: 255, 57, 114; /* Cambiado a rojo */
}



.img-1 {
    
    position: absolute;
}

.img-2 {
   
    z-index: 5;
    position: absolute;
}

.img-3 {
    position: absolute;
}


.categorias {
    margin-top: 30em;
}

#recuadro1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100vw;
    height: 80%;

}
.recuadro2 {
    max-width: 100vw;
    height: 100vh;
    margin-top: 10em;
}

#rotacion {
    width: 25vw; /* Adjust as needed */
    height: auto;
    margin-left: 11rem;
    transition: transform 0.1s ease-out; /* Optional for smoother updates */
    z-index: -5;
    position: absolute;
}

.scrolling-text {
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  animation: scrolling-text 15s linear infinite;
 
}

@keyframes scrolling-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


animated-container {
    position: relative;
    width: 100%;
    height: 500px;
}

.animated-container img {
    position: absolute;
    width: 25vw;
    height: auto;
    animation: random-move 5s infinite;
}

@keyframes random-move {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(50px, -20px) rotate(10deg);
    }
    50% {
        transform: translate(-30px, 40px) rotate(-5deg);
    }
    75% {
        transform: translate(20px, -30px) rotate(15deg);
    }
}

.animated1 {
    margin-left: -20rem;
}

.animated2{
    margin-left: -10rem;
}



.botontrabajo{
    width: 100vw;
    height: auto;
    margin-top: 28rem;

}

.btn {
    border-radius: 200px;
}
.card {
    border-radius: 0;
}

.card:hover{
    opacity: 70%;
}
.breadcrumb {
    margin-left: 2rem;
    font-size: 14px;
}

.form-select {
    background-color: #F7F5F5;
    border-radius: 200px;
    margin-left: 2rem;
    width: 40vw;
}

.form-select:hover{
    background-color: #86FF98;
}

.card-img-top{
    object-fit: cover;
    size: 100%;
}

.fotodani {
    transform: rotate(90deg);
   border: 2px solid black;
   z-index: 5;
   margin-left: 5rem;
   width: 20vw;

  
}

.estrellarosa{
    z-index: -5;
    margin-top: -6rem;
    width: 20vw;

    
}

.trabajos {
    margin-top: 5rem;
    height: 35rem;
    width: 100vw;
    margin-bottom: 5rem;
}

.seccionfoto{
    margin-top: 5vh;
}

h3{
    width: 10vw;
    margin-bottom: 5vh;
}

p{
    font-size: 1.5vw;
}

#contacto {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#carouselExample{
     border: 2px solid black;
     margin-bottom: 3rem; 
}

